<div class="contact-list-wrapper">
  <div class="header-section">
    <h1 class="contact-list-title">Contact List</h1>
    <button mat-button (click)="createContact()">
      <mat-icon fontIcon="add"></mat-icon>
      Add Contact
    </button>
  </div>
  <input
    matInput
    class="search-control"
    type="text"
    placeholder="Search"
    [(ngModel)]="searchText">
  <ul class="contact-list">
    <li class="contact-list-item" *ngFor="let contact of contactList.contacts | filter: searchText">
      <app-contact [contact]="contact"></app-contact>
    </li>
  </ul>
</div>
